[Desktop Entry]
Exec=invoker --type=generic -s /usr/bin/sfdroid.sh --multiwindow
Icon=/usr/share/icons/hicolor/96x96/apps/sfdroid.png
Name=sfdroid multiwindow
Type=Application
Version=1.0
